<p id="notice"><%= notice %></p>

<p>
  <b>
  	<%= best_in_place @deal, :name %>
	</b>
</p>

<ul>
<% @deal.phases.each do | p | %>
	<li>
		<%= best_in_place p, :name %>
		<ul>
			<% p.items.each do |i| %>
				<li>
					<%= best_in_place i, :name %>
				</li>
			<% end %>
		</ul>
	</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
